@import "variables";
html {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight;
  height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
}
body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight;
  height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
}
.logo {
  max-height: 200px;
}
.text-primary {
  color: $primary !important;
}
a {
  color: $secondary;
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}
.form-control {
  font-weight: $font-weight;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:focus {
    color: #495057;
    background-color: $white;
    border-color: #495057;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(29,33,36,0.25);
  }
}
.bg-secondary-custom {
  background: $secondary !important;
}
.bg-primary-custom {
  background: $primary !important;
}
.btn-secondary-custom {
  &:hover {
    color: $white;
    background: $secondary-dark;
  }
  background: $secondary;
  color: $white;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(63, 185, 132, .5);
  }
}
.btn-primary-custom {
  &:hover {
    color: $white;
    background: $primary-dark;
  }
  background: $primary;
  color: $white;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(64, 64, 64, .5);
  }
}
.bb-3 {
  border-bottom: 3px solid;
}
.bt-3 {
  border-top: 3px solid;
}
.bl-3 {
  border-left: 3px solid;
}
.color-white {
  color: $white;
}
.bg-green {
  background: $green;
}
.bg-blue {
  background: $blue;
}
.h1 {
  font-weight: $font-weight !important;
}
.h2 {
  font-weight: $font-weight !important;
}
.h3 {
  font-weight: $font-weight !important;
}
.h4 {
  font-weight: $font-weight !important;
}
.h5 {
  font-weight: $font-weight !important;
}
.h6 {
  font-weight: $font-weight !important;
}
h1 {
  font-weight: $font-weight !important;
}
h2 {
  font-weight: $font-weight !important;
}
h3 {
  font-weight: $font-weight !important;
}
h4 {
  font-weight: $font-weight !important;
}
h5 {
  font-weight: $font-weight !important;
}
h6 {
  font-weight: $font-weight !important;
}
.spacer1000 {
  height: 1000px;
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $primary;
      padding-right: 10px;
      letter-spacing: 3px;
      font-weight: $font-weight;
    }
  }
}
.navbar-brand {
  font-size: 1.50rem;
  letter-spacing: 2px;
  font-weight: $font-weight;
}
.lead {
  font-size: 1.25rem;
  font-weight: $font-weight;
}
.close {
  color: $white !important;
  opacity: 1 !important;
  &:hover {
    color: $white;
  }
}
.btn {
  border-radius: 0 !important;
}
.modal {
  .modal-header {
    border-radius: 0 !important;
  }
  .modal-body {
    border-radius: 0 !important;
  }
  .modal-footer {
    border-radius: 0 !important;
  }
  display: block;
}
.swal2-popup {
  border-radius: 0 !important;
}
.swal2-styled {
  border-radius: 0 !important;
}
.footer {
  letter-spacing: 2px;
  margin-top: 5%;
}
.link-1 {
  border-top: double $grey;
  border-bottom: double $grey;
  background: none;
  color: $dark-grey !important;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  &:hover {
    font-weight: 900 !important;
    letter-spacing: 3px;
    text-decoration: none;
  }
}
.list-type1 {
  font-size: 13px;
  font-weight: bold;
  ul {
    list-style-type: none;
    padding: 0px;
    li {
      padding: 15px 0px 15px 0px;
      &:first-child {
        border-bottom: double;
      }
      span {
        padding: 6px;
        border-left-width: 4px;
        border-left-style: solid;
        position: relative;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border-top: 1px solid;
        border-bottom: 1px solid;
      }
      a {
        padding: 6px;
        text-decoration: none;
        background-color: transparent;
        border-bottom: 1px solid;
        color: $dark-grey;
        border-bottom-right-radius: 25px;
      }
    }
  }
}
.page-heading {
  padding: 15px 0px 15px 0px;
  width: 50%;
  border-bottom: 3px solid;
}
.pagination-link {
  padding: 15px 0px 15px 0px;
}
.component-block {
  text-align: right;
  display: grid;
  font-style: italic;
  color: $secondary;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.content {
  text-align: center;
}
.title {
  font-size: 84px;
}
.links {
  >a {
    color: $grey;
    padding: 0 25px;
    font-size: 13px;
    font-weight: $font-weight;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.m-b-md {
  margin-bottom: 30px;
}
.jumbotron {
  height: 200px;
  padding: 10px !important;
}
.br-left {
  border-left: 1px solid rgba(0,0,0,0.5);
}
.help-block {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.nav-tabs {
  a {
    border-radius: 0 !important;
    color: #495057;
  }
}
.custom-btn {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: $font-weight;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
}
.next-btn {
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    &:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
    }
  }
  &:hover {
    span {
      padding-right: 25px;
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }
}
.prev-btn {
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    &:before {
      content: '\00ab';
      position: absolute;
      opacity: 0;
      top: 0;
      left: -20px;
    }
  }
  &:hover {
    span {
      padding-left: 25px;
      &:before {
        opacity: 1;
        left: 0;
      }
    }
  }
}
.mtr-40 {
  margin: 40px 40px;
}
.border-5 {
  border-width: 5px !important;
  border-style: solid !important;
  border-color: black !important;
}
.testimonial-img {
  &:hover {
    border-width: 3px !important;
    border-style: solid !important;
    border-color: black !important;
  }
}
.top-fixed {
  position: fixed;
  width: 60%;
  z-index: 10;
  top: 0;
  left: 20%;
  right: 20%;
}
.bottom-fixed {
  position: fixed;
  z-index: 10;
  bottom: 10%;
  right: 5%;
}
.fade-in-enter {
  opacity: 0;
  transform: translatex(10px);
  transition: all 0.5s ease-out;
}
.fade-in-enter-to {
  opacity: 1;
  transform: translatex(0);
  transition: all 0.5s ease-out;
}
.fade-in-leave-to {
  opacity: 0;
  transform: translatex(-10px);
  transition: all 0.5s ease-out;
}
